.chatBox {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatHeader {
    display: flex;
    padding: 10px;
    padding-bottom: 0;
}

.horizontal-line {
    margin: 0 auto;
    width: 100%;
    border: 1px solid rgb(186, 186, 186);
}

.closeChat {
    position: relative;
    margin: auto 0 auto auto;
    width: 24px;
    height: 24px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;
    &:hover {
        opacity: 1;
    }
}

.closeChat::before,
.closeChat::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #000;
}

.closeChat::before {
    transform: rotate(45deg);
}

.closeChat::after {
    transform: rotate(-45deg);
}

.chatContainer {
    height: 500px;
    overflow-y: auto;
}

.message {
    margin: 5px;
    padding: 10px;
    display: flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-wrap: wrap;
}

.message strong {
    color: #007bff;
}

.message p {
    max-width: 450px;
    margin: 0;
}

.messageTime {
    color: #5f5f5f
}

.messageContent {
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.quoteBtn {
    margin-left: auto;
    width: 22px;
    height: 21px;
    border: none;
    background-image: url('/public/reply.png');
    background-color: transparent;
    background-size: cover;
    border-radius: 5px;
    transition: background-color .2s ease;
}

.quoteBtn:hover {
    transform: translateX(-5px);
    cursor: pointer;
}

.inputPanel {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
    position: relative;
}

.emojiBtn {
    width: 25px;
    height: 25px;
    background: url('/public/emoji.png') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.emojiPicker {
    position: absolute;
    bottom: 80px;
    left: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.emojiPicker button {
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.emojiPicker button:hover {
    background-color: #f1f1f1;
}

.emojiList {
    cursor: pointer;
}

.imageBtn {
    width: 15px;
    height: 15px;
    background: url('/public/image.png') no-repeat center;
    background-size: cover;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-right: 5px;
}

.messageImage {
    width: 80%;
    height: 80%;
}

.chatInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.chatInput:focus {
    border-color: #007bff;
}

.enterBtn {
    width: 35px;
    height: 35px;
    background-image: url('/public/enter.png');
    background-size: cover;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.enterBtn:hover {
    background-color: #4ca2fe;
}

.enterBtn:active {
    transform: translateY(3px);
}

@media (max-width: 1024px) {
    .chatBox {
        margin-top: 25px;
    }

    .chatHeader h2 {
        font-size: 20px;
    }
    
    .message strong {
        font-size: 15px;
    }
    
    .message p {
        max-width: 350px;
        font-size: 15px;
    }
    
    .messageImage {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 768px) {
    .chatBox {
        max-width: 400px;
    }
    
    .chatHeader h2 {
        font-size: 17px;
    }
    
    .message strong {
        font-size: 13px;
    }
    
    .message p {
        font-size: 13px;
    }

    .messageContent {
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word;
    }
    
    .quoteBtn {
        width: 17px;
        height: 18px;
    }
    
    .emojiBtn {
        width: 20px;
        height: 20px;
    }

    .imageBtn {
        width: 13px;
        height: 13px;
    }

    .messageImage {
        width: 50%;
        height: 50%;
    }
    
    .enterBtn {
        width: 30px;
        height: 30px;
    }
}