html {
  background-image: url('/public/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  height: 100%;
  margin: 0;
}